*{
    box-sizing: border-box;
}
.body{
    font-size:16px;
    font-family:Avenir-Next,Roboto,sans-serif;
    background-color: #7f8c8d;
}
.edyst_logo{
    float:left;
}
@media screen and (max-width:1000px) {
    .edyst_logo{
        width:70px;
        height:20px;
    }
    
    /* NavBar Section*/


}
.nav_container{
    display:flex;
    flex-direction: row;
     justify-content: flex-end ; 
    flex-wrap: wrap;
    height: 70px;
    
}

.nav_container li{
    font-size:18px;
}

.india_flag{
    width:20px;
    height:15px;
}   
.nav_button{
    border:none;
    width:100px;
height:28px;
color:white;
background-color: rgb(235, 139, 49);
}
.nav_div{
    padding:8px;
    /* margin:10px; */
    color:grey;
}
.nav_div a{
    color:grey;
    text-decoration: none;
}

/* Overlay section */


.container_overlay{
    flex:1;
    display:flex;
    width:100%;
    height:500px;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 6px;
    margin-top:22px;


}
.container_overlay img{
    width:100%;
    height:500px;
    border-radius: 3px;
}
.container_overlay .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 2px;
    background:#000000b3 ;
    overflow:auto;

}

.overlay_button1 , .overlay_button2{
    width:200px;
    height:32px;
}
.overlay_button1{
    border:none;
    color:white;
    background-color:#4992ca;
    margin-top:-10px;
    margin-left:60px;
    border-radius:2px;
}
.overlay_button2{
   background-color:  #0000;
   border:1px solid #fff;
   color:white;
    margin-top:10px;
    margin-left:60px;
    border-radius:2px;
}

.overlay_button3{
    margin-left:60px;
    margin-top:10px;
    width:450px;
    height:40px;
    color:black;
    border:none;
    border-radius:15px;
    background-color: white;

}


/* Pokemon Monster Section*/




.pocket_monster{
    display:flex;
    width:100%;
    height:530px;
     margin-top:500px;
background-color:#4992ca;
flex-direction:column;
flex-wrap: wrap;
overflow:auto;

}

.pocket_monster h2{
  
    color:white;
    font-size: 45px;
    text-align: center;
}
.pocket_monster h4{
    
    font-size: 25px;
    
    color:white;
    margin-top: -35px;
    text-align: center;
}
.pocket_monster_minor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


.pocket_monster .pocket_3{

    font-family: Avenir-Next,Roboto,sans-serif;
        width:300px;
height:35px;
color:white;
border:1px solid #4992ca;
text-align: center;
}
.pocket_monster .pocket_4{
    font-family: Avenir-Next,Roboto,sans-serif;
    border:1px solid #4992ca;
    width:300px;
height:35px;
color:white;
text-align: center;
}
.pocket_monster .pocket_5{
    font-family: Avenir-Next,Roboto,sans-serif;
    width:300px;
    height:35px;
    border:1px solid #4992ca;
    color:white;
    text-align: center;
}

@media  screen and (max-width:1000px) {
    .pocket_monster .pocket_4{
        margin:280px;
    }
    .pocket_monster .pocket_5{
        margin:35px;
    }    
}
/*-----------------------------------------------*/
span{
    font-size:40px;
}
/*-----------------------------------------------*/

/* Statistics Section*/

.stats_main{
    display:flex;
    width:100%;
    height:750px;
    flex-direction: column;
    font-family: Avenir-Next,Roboto,sans-serif;
    overflow: auto;
}
 .stats{
    display:flex;
flex-direction: row;
justify-content: space-evenly;

} 
.stats_main h1{
text-align: center;
font-size: 45px;
}
.stats_main h2{
    text-align: center;
    font-size: 30px;
}
.stats1{
  width:500px;
  height: 40px;  
  text-align: center;
}
.stats2{
    width:500px;
    height: 40px;  
    text-align: center;
  }

  /* Pokemon of the Year Section*/
  
  
  
  
  .pokemon_of_year{
      display:grid;
      justify-content: center;
      grid-template-columns: 200px 220px 600px;
      column-gap: 20px;
      font-family: Avenir-Next,Roboto,sans-serif;
    }
    @media screen and (max-width:1112px) {
        .pokemon_of_year{
            grid-template-columns: 100px 120px 300px;
        }
    }
  .pokemon_year_2, .pokemon_year_5 , .pokemon_year_8 , .pokemon_year_11{
      text-align: center;
  }


  /* Q n A Section*/



  .qna{
       padding:35px 100px;
      background-color: #4992ca;
      color:white;
  }




 /* Pokemon Battles and Table section*/



.pokemon_battles{
    display:flex;
}
table{
    border:1px solid #8a8a8a; 
    border-collapse: collapse;
   color: #8a8a8a; 
   /* width:650px; 
   height:300px; */
  
}
 tr > td {
    border:1px solid #8a8a8a;
    padding:13px;
}
tr > th{
    border:1px solid #8a8a8a;
    color:black;
    padding:13px;
}
.battles_para{
flex:1;
margin-right:10px;
}


.table_div{
    flex:2;
    /* width:800px; 
    height:500px; */
    justify-content: flex-end;
    margin-left:40px;

} 
.pokemon_battles{
    display:flex;
    width:100%;
    padding:4% 15%;
     /* flex-direction:row; 
     flex-wrap: wrap;  */
      /* position: relative;
     left:20%;  */
      justify-content: space-between; 
     /* text-align: center;  */
    
     /* width:1050px; 
     */
}



/* Know More Section*/



.know_more{
    padding:50px;
width:100%;
background-color: #424242;
text-align: center;
}


/* Pokemon Card Section*/



.pokemon_card{
   
    width: 180px;
    max-height: 300px;
    border-top:25px solid #4992ca;
  
    text-align: center;
    margin: 0 auto;
    
}
.pokemon_card_1{
    height:190px;
    border: 1px solid #ccc;
    
    background-color:lightgrey;
}

.pokemon_card_2{
    height: 80px; 
    border: 1px solid lightgrey;
background-color: #fff;
text-align: center;
}



/*Pokemon trainer Section*/


.pokemon_trainer{
    display:grid;
    font-family: Avenir-Next,Roboto,sans-serif;
    background-color: #4992ca;
    color:#fff;
    grid-template-columns: 200px 200px 800px;
    font-weight: 100;
    justify-content: center;
    column-gap: 20px;
}
@media screen and (max-width:1000px) {
    .pokemon_trainer{
    grid-template-columns: 100px 100px 300px;
    column-gap:30px;
}
}

.pokemon_trainer_special{
    background-color: #4992ca;
    text-align:center;
    font-family: Avenir-Next,Roboto,sans-serif;
    font-weight: 100;
    padding-top:15px;
    color:#fff;
    margin-bottom: -25px;
    margin-top: 25px;
    
    
}


.pokemon_trainer2 , .pokemon_trainer5 ,  .pokemon_trainer8 ,  .pokemon_trainer11{
    text-align: center;
}



/* Generation Card Section*/


.gen_cards_main .wrap1 , .gen_cards_main .wrap2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
.gen_cards_main .card_all{
    max-width: 20%;
}
.gen_cards_main .margin_right_card{
    margin-right: 1%;
}
.gen_cards_main .card_head{
    border-top: 20px solid #4992ca;
    background-color: rgb(230, 230, 230);
}
.card_body,.card_head{
    padding:8px;
}
.gen_cards_main h2{
    font-size:45px;
    text-align:center;
    color:#7f8c8d;
    margin-top:8px;
    margin-bottom:8px;
}



/*           Input Section       */

.input_div{
    background-color:#424242;
    text-align: center;
    width: 100vw;
    padding:15px;
    
}
.input_div h2{
    color:#fff;
 font-size:45px;

}

.input_div .input_email{
    width:400px;
    height:50px;
   
    margin-right: 2px;
margin-bottom: 40px;
    border:1px solid #fff;
    box-shadow: 0 0 1px 0px #fff;
    border-radius: 2px;
}
.input_div .input_button{
    border:2px solid #fff;
    color:#fff;
    width:200px;
    height:50px;
    
margin-bottom: 40px;
    
background-color: #0000;
border-radius: 2px;
}


/* Pokemon Games Section*/

.pokemon_games{
    display:grid;
    width:100vw;
    grid-template-columns: repeat(3,300px);
    text-align: center;
    justify-content: center;
    font-family: Avenir-Next,Roboto,sans-serif;
}

.pokemon_games1{
    font-weight:500;
}

.pokemon_game_button_div{
text-align: center;
}
.pokemon_game_button_div .pokemon_game_button{
    width:250px;
    height:40px;
    border:none;
    background-color: #4992ca;
    color:white;
    padding:8px;
    margin-top:40px;
    border-radius: 2px;
    margin-bottom: 30px;
}

/* Designers Section*/

.designer_main{
    background-color: #4992ca;
display: grid;
width:100vw;
grid-template-columns: repeat(3,400px);
column-gap:30px;
text-align: center;
justify-content: center;
font-family: Avenir-Next,Roboto,sans-serif;
padding:30px;
margin-top:-40px;
}
.designer{
    color:#fff;
}

.designer_head_special{
    background-color: #4992ca;
    text-align: center;
    width:100vw;
    font-family: Avenir-Next,Roboto,sans-serif;
    padding:10px;
  
}
.designer_head_special h2{
font-size: 45px;
color:#fff;

}


.logo_main h2{
    font-size: 45px;
    color:lightgrey;
     text-align: center; 
     justify-content: center; 
}
.logo_main h4{
    font-size:20px;
    margin-bottom:20px;
    color:#424242;;
text-align: center;
    justify-content: center;
 
 }
 .logo_image{
     display:flex;
     justify-content: space-around;
     flex-wrap: wrap;
     padding-right:10%;
     margin-bottom:20px;
 }
 .logo_image img{
     margin-left:300px;
     padding:4px;
 }


 /* Know More 2nd Section */
.know_more_2{
    padding:50px;
width:100%;
background-color: #4992ca;
text-align: center;
 }

/*  Footer Section */

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 2% 15%;
    text-align: center;
}

.footer ul{
    list-style: none;
    padding: 0;
    line-height: 1.5;
}
.footer a{
    color:white;
    text-decoration: none;
}
.footer p{
    color:#8a8a8a
}

.border-rad-2{
    border-radius: 2px;
    border:10px solid #fff;
}
